/**
 * flyout menu demo #1
 */

#flyout_menu_1 {
    position:relative;
}

/**
 * flyout menu demo #2
 */

#flyout_menu_2 {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	background-color: #cccccc;
}
#flyout_menu_2 .row {
	margin: 0;
}
#flyout_menu_2 > ul.menu {
	margin-left: 300px;
	margin-bottom: 0 !important;
}
#flyout_menu_2 > ul.menu li {
	padding: 0 !important;
	text-align: center;
	position: relative;
}
#flyout_menu_2 > ul.menu > li {
	display: block !important;
	float: left !important;
}
#flyout_menu_2 > ul.menu li a {
	display: block;
	padding: 10px 0 !important;
	float: none;
	clear: both;
	text-align: center;
	text-decoration: none;
}

#flyout_menu_2 > ul.menu > li > ul.menu {
	padding-left: 0 !important;
}
#flyout_menu_2 > ul.menu > li > ul.menu {
	margin-bottom: 0 !important;
}
#flyout_menu_2 > ul.menu > li > ul.menu li {
	margin: 0 !important;
	list-style-type: none;
	list-style-image: none;
}
#flyout_menu_2 > ul.menu > li > ul.menu li a {
	display: block;
	color: #134b73;
	padding: 10px 0 !important;
	font-size: 16px;
	float: none;
	clear: both;
	text-align: center;
	text-decoration: none;
}
#flyout_menu_2 > ul.menu li ul.menu li a:active,
#flyout_menu_2 > ul.menu li ul.menu li a.current,
#flyout_menu_2 > ul.menu > li > ul.menu > li > a.active,
#flyout_menu_2 > ul.menu > li > ul.menu > li > a:hover {
	color: #ffffff;
	background-color: #999999;
	background-image: -moz-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#7f7f7f));
	background-image: -webkit-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -o-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: linear-gradient(to bottom, #c0c0c0, #7f7f7f);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff7f7f7f', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

#flyout_menu_2 > ul.menu li ul.menu li ul.menu {
	position: absolute;
	display: block;
	margin-left: 0 !important;
	top: 42px;
	left: 0;
	width: 230px;
	padding-left: 0 !important;
	list-style: none;
	-moz-box-shadow: 0px 3px 8px #5e5e5e;
	-webkit-box-shadow: 0px 3px 8px #5e5e5e;
	box-shadow: 0px 3px 8px #5e5e5e;
	display: none;
	z-index: 505;
}
.lt-ie9 #flyout_menu_2 > ul.menu li ul.menu li ul.menu {
	border: 1px solid #999999;
	border-top: none !important;
	margin-left: -1px !important;
}
#flyout_menu_2 > ul.menu li ul.menu li ul.menu li a {
	text-align: left;
	background-color: #e0e0e0;
	background-image: url(../images/icon_blue_chevron_right.png);
	background-repeat: no-repeat;
	background-position: 22px 50%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #969696;
	padding: 7px 0 7px 36px !important;
	font-weight: normal;
}
#flyout_menu_2 > ul.menu li ul.menu li ul.menu li a:hover {
	background-color: #f57f20;
	border-bottom: 1px solid #f57f20;
	border-top: 1px solid transparent;
	background-image: url(../images/icon_chevron_right.png);
	color: #ffffff;
}
#flyout_menu_2 > ul.menu li ul.menu li ul.menu li a:active,
#flyout_menu_2 ul.menu li ul.menu li ul.menu li a.current {
	background-repeat: no-repeat;
}
#flyout_menu_2 > ul.menu li ul.menu li ul.menu li.first a {
	border-top: none;
	-webkit-box-shadow: inset 0 8px 8px -8px #5e5e5e;
	-moz-box-shadow: inset 0 8px 8px -8px #5e5e5e;
	box-shadow: inset 0 8px 8px -8px #5e5e5e;
}

/* mobile */

@media (max-width:979px) {
	.container {
		width: 100%;
	}
}
@media (max-width:790px) {}
@media (max-width:500px) {

}
